body {
    background-color: rgba(185, 244, 191, 0.8);
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 90vh;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    text-align: center;
}

form input {
    width: 50%;
}

form #submit {
    width: 10%;
}

footer {
    text-align: center;
    background-color: rgba(237, 232, 208, 1);
}